{% extends "layout.html" %}

{% block pageTitle %}
  Teachers: claim retention payments
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Via which route did you qualify as a teacher?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="route-1" name="route" type="radio" value="PGCE">
              <label class="govuk-label govuk-radios__label" for="route-1">
                PGCE
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="route-2" name="route" type="radio" value="School Direct">
              <label class="govuk-label govuk-radios__label" for="route-2">
                School Direct
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="route-3" name="route" type="radio" value="SCITT">
              <label class="govuk-label govuk-radios__label" for="route-3">
                SCITT
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="route-4" name="route" type="radio" value="Teach First">
              <label class="govuk-label govuk-radios__label" for="route-4">
                Teach First
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <form action="teacher-still-teaching" method="POST" role="form">
        <div class="govuk-form-group">
          <input class="govuk-input" id="teacher-schools-setup" name="teacher-schools-setup" type="hidden" value="true">
          <fieldset class="govuk-fieldset" role="group">
            <button type="submit" class="govuk-button">Continue</button>
          </fieldset>
        </div>
      </form>

    </div>

  </div>

{% endblock %}
