{% extends "layout.html" %}

{% block pageTitle %}
  Teachers: claim retention payments
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <form action="teacher-still-teaching" method="POST" role="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Are you still teaching at a school in the UK?
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="still-teaching-1" name="still-teaching" type="radio" value="true">
                <label class="govuk-label govuk-radios__label" for="still-teaching-1">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="still-teaching-2" name="still-teaching" type="radio" value="false">
                <label class="govuk-label govuk-radios__label" for="still-teaching-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button">Continue</button>
      </form>

    </div>

  </div>

{% endblock %}
